/public/hot
/node_modules
/storage/*.key
/.idea
/.vagrant
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/nbproject/private/
composer.lock
.phpunit.result.cache
profile.xml
services.xml
jobs.xml
categories.xml
sub_categories.xml
sitemap.xml
/.vscode
/public/courses
/public/seller
/public/services
